<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="migrationConfig" type="DbMigrations.Client.Configuration.DbMigrationsConfiguration, migrate">
      
    </section>
  </configSections>
  <migrationConfig invariantName="Invariant.Name" tableName="MyTableName" escapeChar="x" schema="MySchema">
    <count>
      <![CDATA[SELECT count(*) FROM information_schema.tables WHERE TableName = @TableName AND Schema = @Schema]]>
    </count>
    <create>
      <![CDATA[CREATE TABLE {TableName} (ScriptName nvarchar2(100))]]>
    </create>
    <drop>
      <![CDATA[SELECT x AS Statement]]>
    </drop>
    <initializeTransaction>
      <![CDATA[SELECT 'INIT TX']]>
    </initializeTransaction>
  </migrationConfig>
</configuration>