<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="migrationConfig" type="DbMigrations.Client.Configuration.DbMigrationsConfiguration, migrate">
      
    </section>
  </configSections>
  <migrationConfig invariantName="Invariant.Name" tableName="MyTableName" escapeChar="x" schema="MySchema">
    <countMigrationTables>
      <sql>SELECT *</sql>
      <parameters>
        <add name="MyParameter"></add>
      </parameters>
      <arguments>
        <add name="MyArgument"></add>
      </arguments>
    </countMigrationTables>
  </migrationConfig>
</configuration>