<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="migrationConfig" type="DbMigrations.Client.Configuration.DbMigrationsConfiguration, migrate">
      
    </section>
  </configSections>
  <migrationConfig invariantName="Invariant.Name" tableName="MyTableName" escapeChar="x" schema="MySchema">
    <countMigrationTables parameters="MyParameter1,MyParameter2" arguments="MyArg1,MyArg2">
      <![CDATA[SELECT *]]>
    </countMigrationTables>
  </migrationConfig>
</configuration>